* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: auto;
}

html {
    background-color: rgb(160, 255, 223);
}

header {
    text-align: center;
}

h2 {
    text-align: center;
}

.recipe-menu {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: auto;
    gap: 10px 20px;
    align-content: space-between;
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 30px auto;
    box-shadow: 8px 8px rgb(85, 154, 131, 0.3);
}

.recipe-menu .recipe-container img {
    height: 450px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 5px 5px rgba(255, 225, 255, 0.6);
    object-fit: cover;
}

.recipe-container p {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}